<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

Welcome to this document with a litte description of course about Tools in Data Science.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
This course will provide you knowledge about various tools that you can use to analyze data and derive conclusions.

The main goal of the course is for you to be knowledgeable about the kinds of tools Data Scientists use, their examples, and get some hands-on time with a few key tools. covers the following topics:
- Overview of Data Science Tools 
- Languages of Data Science 
- Libraries, APIs, Datasets and models
- Jupyter Project
- RStudio and GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy 
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow

|Data Science Tools|
|------------|
|MySQL|
|PostgreSQL|
|MongoDB |
|Apache AirFlow|
|KubeFlow|
|Pixie Dust|
|Hue|
|Seldon|
|ModelDB|
|GitHub|
|GitLab|
|Apache Atlas|

Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
100+15

115

In [2]:
200-20

180

In [3]:
(100*5)/2

250.0

In [4]:
print (100+15)
print (200-20)
print ((100*5)/2)

115
180
250.0

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
# first solution: hours and fraction of hour
minutes=200
hours=minutes/60
print (hours) # hours and fraction of hour
# another solution: hours and minutes
hora=int(hours)
rest_minutes=minutes-(hora*60)
print (hora,":",rest_minutes) # hours:minutes

3.3333333333333335
3 : 20

## Author:
José Ramírez Cabello